{{ $nbPost := 3}}
<div class="justify-content-center border border-primary rounded my-1 text-center ">
    <h5 class="text-primary text-center text-decoration-underline">Derniers ajoutés</h5>
    <ul>
        {{ range first $nbPost (where site.RegularPages.ByDate.Reverse "Type" "in" site.Params.mainSections )}}
        <li>
            <a class="text-decoration-none text-muted" href="{{ .Permalink }}" title="{{ .Title }}" alt="{{ .Title }}">{{ .Title }}</a>
        </li> 
        {{ end }}
    </ul>

    <h5 class="text-primary text-center text-decoration-underline">Derniers mis à jour</h5>
    <ul>
        {{ range first $nbPost (where site.RegularPages.ByLastmod.Reverse "Type" "in" site.Params.mainSections )}}
        <li class="list-unstyled">
            <a class="text-decoration-none text-muted" href="{{ .Permalink }}" title="{{ .Title }}" alt="{{ .Title }}">{{ .Title }}</a>
        </li> 
        {{ end }}
    </ul>
  </div>