[markup]
#  defaultMarkdownHandler = 'goldmark' ## Utile si besoinde passer par l'ancien moteur markdown Blackfriday
  [markup.tableOfContents]
    endLevel = 5
    ordered = false
    startLevel = 2
  [markup.highlight]
    noClasses = false
    style = 'monokai'
