{{ if hasPrefix .Destination "http" }}
  {{- $src := .Destination | relURL | safeURL -}}
  {{- $alt := .PlainText | safeHTML -}}
  {{ $alt := .PlainText | safeHTML }}
    <img 
      src="{{ $src }}" 
      alt="{{ $alt }}" 
    />
{{ else }}
  {{ $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
  {{ $alt := .PlainText | safeHTML }}
  {{ $caption := "" }}
  {{ with .Title }}
    {{ $caption = . | safeHTML }}
  {{ end }}

  {{ if and $image (eq $image.MediaType.SubType "gif") }}

    {{ if ge $image.Width "800" }}

      {{ $XS := $image.Resize "250x" }}
      {{ $SM := $image.Resize "300x" }}
      {{ $MD := $image.Resize "400x" }}
      {{ $LG := $image.Resize "500x" }}
      {{ $XL := $image.Resize "700x" }}
      {{ $XXL := $image.Resize "800x" }}
      {{ $alt := .PlainText | safeHTML }}
      {{ $caption := "" }}
      {{ with .Title }}
        {{ $caption = . | safeHTML }}
      {{ end }}
      
      <figure>
        <a href="{{ $image.RelPermalink }}">
          <img
            sizes="(max-width: 400px) 250px,
                   (max-width: 500px) 300px,
                   (max-width: 768px) 400px,
                   (max-width: 992px) 500px,
                   (max-width: 1440px) 700px,
                   800px"
            srcset="{{ $XS.RelPermalink }} 250w, 
                    {{ $SM.RelPermalink }} 300w, 
                    {{ $MD.RelPermalink }} 400w, 
                    {{ $LG.RelPermalink }} 500w, 
                    {{ $XL.RelPermalink }} 700w, 
                    {{ $XXL.RelPermalink }} 800w"
            src="{{ $image.RelPermalink }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            >
        </a>
        {{ with $caption }}
          <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>


    {{ else if ge $image.Width "700" }}

      {{ $XS := $image.Resize "250x" }}
      {{ $SM := $image.Resize "300x" }}
      {{ $MD := $image.Resize "400x" }}
      {{ $LG := $image.Resize "500x" }}
      {{ $XL := $image.Resize "700x" }}

      {{ $alt := .PlainText | safeHTML }}
      {{ $caption := "" }}
      {{ with .Title }}
        {{ $caption = . | safeHTML }}
      {{ end }}
      
      <figure>
        <a href="{{ $image.RelPermalink }}">
          <img
            sizes="(max-width: 400px) 250px,
                   (max-width: 500px) 300px,
                   (max-width: 768px) 400px,
                   (max-width: 992px) 500px,
                   700px"
            srcset="{{ $XS.RelPermalink }} 250w, 
                    {{ $SM.RelPermalink }} 300w, 
                    {{ $MD.RelPermalink }} 400w, 
                    {{ $LG.RelPermalink }} 500w, 
                    {{ $XL.RelPermalink }} 700w"
            src="{{ $image.RelPermalink }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            >
        </a>
        {{ with $caption }}
          <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>

    {{ else if ge $image.Width "500" }}

      {{ $XS := $image.Resize "250x" }}
      {{ $SM := $image.Resize "300x" }}
      {{ $MD := $image.Resize "400x" }}
      {{ $LG := $image.Resize "500x" }}

      {{ $alt := .PlainText | safeHTML }}
      {{ $caption := "" }}
      {{ with .Title }}
        {{ $caption = . | safeHTML }}
      {{ end }}
      
      <figure>
        <a href="{{ $image.RelPermalink }}">
          <img
            sizes="(max-width: 400px) 250px,
                   (max-width: 500px) 300px,
                   (max-width: 768px) 400px,
                   500px"
            srcset="{{ $XS.RelPermalink }} 250w, 
                    {{ $SM.RelPermalink }} 300w, 
                    {{ $MD.RelPermalink }} 400w, 
                    {{ $LG.RelPermalink }} 500w"
            src="{{ $image.RelPermalink }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            >
        </a>
        {{ with $caption }}
          <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>

    {{ else if ge $image.Width "400" }}

      {{ $XS := $image.Resize "250x" }}
      {{ $SM := $image.Resize "300x" }}
      {{ $MD := $image.Resize "400x" }}

      {{ $alt := .PlainText | safeHTML }}
      {{ $caption := "" }}
      {{ with .Title }}
        {{ $caption = . | safeHTML }}
      {{ end }}
      
      <figure>
        <a href="{{ $image.RelPermalink }}">
          <img
            sizes="(max-width: 400px) 250px,
                   (max-width: 500px) 300px,
                   400px"
            srcset="{{ $XS.RelPermalink }} 250w, 
                    {{ $SM.RelPermalink }} 300w, 
                    {{ $MD.RelPermalink }} 400w"
            src="{{ $image.RelPermalink }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            >
        </a>
        {{ with $caption }}
          <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>

    {{ else if ge $image.Width "300" }}

      {{ $XS := $image.Resize "250x" }}
      {{ $SM := $image.Resize "300x" }}

      {{ $alt := .PlainText | safeHTML }}
      {{ $caption := "" }}
      {{ with .Title }}
        {{ $caption = . | safeHTML }}
      {{ end }}
      
      <figure>
        <a href="{{ $image.RelPermalink }}">
          <img
            sizes="(max-width: 400px) 250px,
                   300px"
            srcset="{{ $XS.RelPermalink }} 250w, 
                    {{ $SM.RelPermalink }} 300w"
            src="{{ $image.RelPermalink }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            >
        </a>
        {{ with $caption }}
          <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>


    {{ else if ge $image.Width "250" }}

      {{ $XS := $image.Resize "250x" }}

      {{ $alt := .PlainText | safeHTML }}
      {{ $caption := "" }}
      {{ with .Title }}
        {{ $caption = . | safeHTML }}
      {{ end }}
      
      <figure>
        <a href="{{ $image.RelPermalink }}">
          <img
            sizes="300px"
            srcset="{{ $XS.RelPermalink }} 250w"
            src="{{ $image.RelPermalink }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            >
        </a>
        {{ with $caption }}
          <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>

    {{ end }}

  {{ else if and $image (ne $image.MediaType.SubType "svg") }}

    {{ if ge $image.Width "800" }}

      {{ $XS := $image.Resize "250x webp" }}
      {{ $SM := $image.Resize "300x webp" }}
      {{ $MD := $image.Resize "400x webp" }}
      {{ $LG := $image.Resize "500x webp" }}
      {{ $XL := $image.Resize "700x webp" }}
      {{ $XXL := $image.Resize "800x webp" }}
      {{ $alt := .PlainText | safeHTML }}
      {{ $caption := "" }}
      {{ with .Title }}
        {{ $caption = . | safeHTML }}
      {{ end }}
      
      <figure>
        <a href="{{ $image.RelPermalink }}">
          <img
            sizes="(max-width: 400px) 250px,
                   (max-width: 500px) 300px,
                   (max-width: 768px) 400px,
                   (max-width: 992px) 500px,
                   (max-width: 1440px) 700px,
                   800px"
            srcset="{{ $XS.RelPermalink }} 250w, 
                    {{ $SM.RelPermalink }} 300w, 
                    {{ $MD.RelPermalink }} 400w, 
                    {{ $LG.RelPermalink }} 500w, 
                    {{ $XL.RelPermalink }} 700w, 
                    {{ $XXL.RelPermalink }} 800w"
            src="{{ $image.RelPermalink }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            >
        </a>
        {{ with $caption }}
          <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>


    {{ else if ge $image.Width "700" }}

      {{ $XS := $image.Resize "250x webp" }}
      {{ $SM := $image.Resize "300x webp" }}
      {{ $MD := $image.Resize "400x webp" }}
      {{ $LG := $image.Resize "500x webp" }}
      {{ $XL := $image.Resize "700x webp" }}

      {{ $alt := .PlainText | safeHTML }}
      {{ $caption := "" }}
      {{ with .Title }}
        {{ $caption = . | safeHTML }}
      {{ end }}
      
      <figure>
        <a href="{{ $image.RelPermalink }}">
          <img
            sizes="(max-width: 400px) 250px,
                   (max-width: 500px) 300px,
                   (max-width: 768px) 400px,
                   (max-width: 992px) 500px,
                   700px"
            srcset="{{ $XS.RelPermalink }} 250w, 
                    {{ $SM.RelPermalink }} 300w, 
                    {{ $MD.RelPermalink }} 400w, 
                    {{ $LG.RelPermalink }} 500w, 
                    {{ $XL.RelPermalink }} 700w"
            src="{{ $image.RelPermalink }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            >
        </a>
        {{ with $caption }}
          <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>

    {{ else if ge $image.Width "500" }}

      {{ $XS := $image.Resize "250x webp" }}
      {{ $SM := $image.Resize "300x webp" }}
      {{ $MD := $image.Resize "400x webp" }}
      {{ $LG := $image.Resize "500x webp" }}

      {{ $alt := .PlainText | safeHTML }}
      {{ $caption := "" }}
      {{ with .Title }}
        {{ $caption = . | safeHTML }}
      {{ end }}
      
      <figure>
        <a href="{{ $image.RelPermalink }}">
          <img
            sizes="(max-width: 400px) 250px,
                   (max-width: 500px) 300px,
                   (max-width: 768px) 400px,
                   500px"
            srcset="{{ $XS.RelPermalink }} 250w, 
                    {{ $SM.RelPermalink }} 300w, 
                    {{ $MD.RelPermalink }} 400w, 
                    {{ $LG.RelPermalink }} 500w"
            src="{{ $image.RelPermalink }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            >
        </a>
        {{ with $caption }}
          <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>

    {{ else if ge $image.Width "400" }}

      {{ $XS := $image.Resize "250x webp" }}
      {{ $SM := $image.Resize "300x webp" }}
      {{ $MD := $image.Resize "400x webp" }}

      {{ $alt := .PlainText | safeHTML }}
      {{ $caption := "" }}
      {{ with .Title }}
        {{ $caption = . | safeHTML }}
      {{ end }}
      
      <figure>
        <a href="{{ $image.RelPermalink }}">
          <img
            sizes="(max-width: 400px) 250px,
                   (max-width: 500px) 300px,
                   400px"
            srcset="{{ $XS.RelPermalink }} 250w, 
                    {{ $SM.RelPermalink }} 300w, 
                    {{ $MD.RelPermalink }} 400w"
            src="{{ $image.RelPermalink }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            >
        </a>
        {{ with $caption }}
          <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>

    {{ else if ge $image.Width "300" }}

      {{ $XS := $image.Resize "250x webp" }}
      {{ $SM := $image.Resize "300x webp" }}

      {{ $alt := .PlainText | safeHTML }}
      {{ $caption := "" }}
      {{ with .Title }}
        {{ $caption = . | safeHTML }}
      {{ end }}
      
      <figure>
        <a href="{{ $image.RelPermalink }}">
          <img
            sizes="(max-width: 400px) 250px,
                   300px"
            srcset="{{ $XS.RelPermalink }} 250w, 
                    {{ $SM.RelPermalink }} 300w"
            src="{{ $image.RelPermalink }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            >
        </a>
        {{ with $caption }}
          <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>


    {{ else if ge $image.Width "250" }}

      {{ $XS := $image.Resize "250x webp" }}

      {{ $alt := .PlainText | safeHTML }}
      {{ $caption := "" }}
      {{ with .Title }}
        {{ $caption = . | safeHTML }}
      {{ end }}
      
      <figure>
        <a href="{{ $image.RelPermalink }}">
          <img
            sizes="300px"
            srcset="{{ $XS.RelPermalink }} 250w"
            src="{{ $image.RelPermalink }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            >
        </a>
        {{ with $caption }}
          <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>

    {{ end }}
  {{ else }}
    <div class="row text-center">
        <img 
        src="{{ $image.RelPermalink }}" 
        alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}" 
        width="auto"
        height="auto"
        >
    </div>
  {{ end }}
{{ end }}
