{{ if hasPrefix .Destination "http" }}
  {{- $src := .Destination | relURL | safeURL -}}
  {{- $alt := .PlainText | safeHTML -}}

  {{ $alt := .PlainText | safeHTML }}
    <img 
      src="{{ $src }}" 
      alt="{{ $alt }}" 
    />
{{ else }}

  {{ $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
  {{ $alt := .PlainText | safeHTML }}
  {{ $caption := "" }}
  {{ with .Title }}
    {{ $caption = . | safeHTML }}
  {{ end }}

  {{ if and $image (ne $image.MediaType.SubType "svg" "gif") }}
  
    {{ if ge $image.Width "800" }}
      
      {{ $small := $image.Resize "200x" }}
      {{ $medium := $image.Resize "500x" }}
      {{ $big := $image.Resize "800x" }}
      {{ $alt := .PlainText | safeHTML }}
      {{ $caption := "" }}
      {{ with .Title }}
        {{ $caption = . | safeHTML }}
      {{ end }}
      
      <figure>
        <a href="{{ $image.RelPermalink }}">
          <img
            sizes="(max-width: 200px) 100px,
                   (max-width: 500px) 200px,
                   (max-width: 1024px) 500px,
                   800px"
            srcset="{{ $small.RelPermalink }} 200w, {{ $medium.RelPermalink }} 500w, {{ $big.RelPermalink }} 800w"
            src="{{ $image.RelPermalink }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            >
        </a>
        {{ with $caption }}
          <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>

    {{ else if ge $image.Width "500" }}
      
      {{ $small := $image.Resize "200x" }}
      {{ $medium := $image.Resize "500x" }}
      {{ $alt := .PlainText | safeHTML }}
      {{ $caption := "" }}
      {{ with .Title }}
        {{ $caption = . | safeHTML }}
      {{ end }}
      
      <figure>
        <a href="{{ $image.RelPermalink }}">
          <img
            sizes="(max-width: 200px) 100px,
                   (max-width: 500px) 200px,
                   500px"
            srcset="{{ $small.RelPermalink }} 200w, {{ $medium.RelPermalink }} 500w"
            src="{{ $image.RelPermalink }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            >
        </a>
        {{ with $caption }}
          <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>

    {{ else if ge $image.Width "200" }}
      {{ $small := $image.Resize "200x" }}
      {{ $alt := .PlainText | safeHTML }}
      {{ $caption := "" }}
      {{ with .Title }}
        {{ $caption = . | safeHTML }}
      {{ end }}
      
      <figure>
        <a href="{{ $image.RelPermalink }}">
          <img
            sizes="200px"
            srcset="{{ $small.RelPermalink }} 200w"
            src="{{ $image.RelPermalink }}"
            alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
            >
        </a>
        {{ with $caption }}
          <figcaption>{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>
    {{ end }}

  {{ else }}
    <div class="row text-center">
        <img 
        src="{{ $image.RelPermalink }}" 
        alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}" 
        width="auto"
        height="auto"
        >
    </div>
  {{ end }}
{{ end }}
