{{ $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}

{{ if and $image (ne $image.MediaType.SubType "svg") }}
  {{ $small := $image.Resize "100x webp picture" }}
  {{ $medium := $image.Resize "200x webp picture" }}
  {{ $large := $image.Resize "400x webp picture" }}
  {{ $xlarge := $image.Resize "600x webp picture" }}

  {{ $xlargejpg := $image.Resize "600x jpg picture" }}


{{ $alt := .PlainText | safeHTML }}

{{ $caption := "" }}
{{ with .Title }}
  {{ $caption = . | safeHTML }}
{{ end }}

<div class="row text-center">
  <img 
    src="{{ $xlargejpg.RelPermalink }}"
    srcset="{{ $small.RelPermalink }} 100px,
            {{ $medium.RelPermalink }} 200px,
            {{ $large.RelPermalink }} 400px,
            {{ $xlargejpg.RelPermalink }} 100px"
    type="image/webp"
    sizes="(max-width: 576px) 100px, (max-width: 768px) 200px, (max-width: 992px) 300px, (max-width: 1200px) 400px, 600px"
    alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
    {{ with .Title}} 
      title="{{ . }}"
    {{ end }}
  />
</div>
{{ else }}



{{ $alt := .PlainText | safeHTML }}

{{ $caption := "" }}
{{ with .Title }}
  {{ $caption = . | safeHTML }}
{{ end }}

<div class="row text-center">
  <img 
    src="{{ $image.RelPermalink }}"
    alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
    {{ with .Title}} 
      title="{{ . }}"
    {{ end }}
  />
</div>
{{ end }}
