{{ if hasPrefix .Destination "http" }}
  {{- $src := .Destination | relURL | safeURL -}}
  {{- $alt := .PlainText | safeHTML -}}

  {{ $alt := .PlainText | safeHTML }}
    <img 
      src="{{ $src }}" 
      alt="{{ $alt }}" 
    />
{{ else }}

  {{ $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
  {{ $alt := .PlainText | safeHTML }}
  {{ $caption := "" }}
  {{ with .Title }}
    {{ $caption = . | safeHTML }}
  {{ end }}

  {{ if and $image (ne $image.MediaType.SubType "svg" "gif") }}
  
    <div class="row text-center">
        <img 
        src="{{ $image.RelPermalink }}" 
        alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}" 
        width="auto"
        height="auto"
        >
    </div>
  {{ else }}
    <div class="row text-center">
        <img 
        src="{{ $image.RelPermalink }}" 
        alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}" 
        width="auto"
        height="auto"
        >
    </div>
  {{ end }}
{{ end }}