<div class="col"> 
    <div class="card h-100">
        <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="text-decoration-none">
            <img src="{{ partial "helpers/get-hero.html" . }}" class="card-img-top" alt="hero-{{ .Title }}" title="hero-{{ .Title }}">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ .Title }}</h5>
            <p class="card-text text-secondary">{{ .Description }}</p>
        </div>
        <div class="card-footer">
            <span class="float-start">
                {{ partial "helpers/date" . }}
            </span>
            <a href="{{ .RelPermalink }}" title="Lire" class="float-md-end btn btn-outline-primary btn-sm">Lire</a>
          </div> 
    </div>   
</div>