<nav class="autohide navbar navbar-expand-md bg-white fixed-top">
    <div class="container-fluid">

        <a class="navbar-brand" href="{{ .Site.BaseURL }}">
            <img src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }}-logo" title="{{ .Site.Title }}-logo" width="30" height="30" class="d-inline-block align-text-top">
            {{ .Site.Title }}
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

      
        <div class="collapse navbar-collapse justify-content-end justify-content-md-center text-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
            {{ $current := . }}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="{{ .URL }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ with .Pre }}{{ . }}{{ end }}
                        {{ .Name }}
                        {{ with .Post }}{{ . }}{{ end }}
                    </a>

                    <ul class="dropdown-menu">
                    {{ range .Children }}
                        <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                    </ul>
                </li>
                {{ else }} 
                <li class="nav-item ">
                <a class="nav-link" href="{{ .URL }}">
                    {{ with .Pre }}{{ . }}{{ end }}
                    {{ .Name }}
                    {{ with .Post }}{{ . }}{{ end }}
                </a>
                </li>
                {{ end }}
            {{ end }}
            </ul>
        </div>

        <!--<a href="/participer/" role="button" class="btn btn-outline-primary btn-sm me-2 d-none d-sm-block justify-content-end">Participer</a>-->
        {{ if .Site.Params.noNetlifyHost }}
            <a href="{{ .Site.Params.noNetlifyHost }}/admin/" role="button" class="btn btn-outline-primary btn-sm me-2 d-none d-sm-block justify-content-end">Se connecter</a>
        {{ else }}
            <a href="{{ .Site.BaseURL }}/admin/" target="_blank" type="button" class="btn btn-outline-primary btn-sm me-2 d-none d-sm-block justify-content-end">Se connecter</a> 
        {{ end }}
    </div>
</nav>
