{{ $url := printf "%s" .Permalink }}

  <div class="card h-100 m-1">
    <div class="row card-header align-items-center m-0">
        <div class="col-12 text-center">
            <h4 class="text-center" >Besoin d'aide ?</h4>
            <p class="text-center text-secondary" >La communauté se fera un plaisir de vous aider.</p>
        </div>
    </div>

    <div class="card-body text-center">
      <div class="row">
        <div class="col-12 text-center mb-2">
          <a type="button" class="btn btn-outline-primary" href="https://forum.hacf.fr/new-topic?title=titre&body=%23%23+Mon+probl%C3%A8me%0D%0A%0D%0A%2ARenseigner+votre+probl%C3%A8me%2A%0D%0A%0D%0A%23%23+Le+tutoriel+d%27origine%0D%0A%0D%0A{{ $url }}%0D%0A%0D%0A%23%23+Ma+configuration%0D%0A___%0D%0A%5Bcenter%5DTexte+%C3%A0+remplacer+par+votre+configuration%5B%2Fcenter%5D%0D%0AComment+r%C3%A9cup%C3%A9rer+ma+configuration+%3A%0D%0ADans+votre+HA%2C+Menu+lat%C3%A9ral+%60Configuration%60+%3E+%60Param%C3%A9tres%60+%3E+%60Info%60+%3E+bouton+copier+%3E+%60Pour+Github%60%0D%0A+++%21%5Bimage%7C648x167%2C+75%25%5D%28upload%3A%2F%2F1ietIxFU6nXP1GFrJTzwc2mh0j2.png%29%0D%0A___&category=entraide-home-assistant&tags=aide" title="Demander de l'aide sur le forum de la Communauté Francophone" target="_blank">
            <img src="/images/logo-hacf-30px.webp" alt="Liens vers l'article HACF" > Demander de l'aide sur le forum HACF
          </a>
        </div>

        <div class="col-6 text-center ">
          <p><em>Communauté Francophone HACF</em></p>
          <ul class="list-inline">
            {{ range .Site.Menus.aidehacf }}
            <li class="list-inline-item">
              <a href="{{ .URL }}" title="{{ .URL }}" target="_blank"><i class="fa-brands {{ .Pre }} fa-2x"></i></a>
            </li>
            {{ end }}
          </ul>
        </div>
        
        <div class="col-6 text-center ">
          <p><em>Communauté Officielle HA</em></p>
          <ul class="list-inline">
            {{ range .Site.Menus.aidehaoff }}
            <li class="list-inline-item">
              <a href="{{ .URL }}" title="{{ .URL }}" target="_blank"><i class="fa-brands {{ .Pre }} fa-2x"></i></a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      </div>
  </div> 
 
<!--
<div class="col-12">
  <h5 class="text-center" >Besoin d'aide ?</h5>
</div>

<div class="col-12 text-center p-2">
  <a type="button" class="btn btn-outline-primary" href="https://forum.hacf.fr/new-topic?title=titre&body=%23%23+Mon+probl%C3%A8me%0D%0A%0D%0A%2ARenseigner+votre+probl%C3%A8me%2A%0D%0A%0D%0A%23%23+Le+tutoriel+d%27origine%0D%0A%0D%0A{{ $url }}%0D%0A%0D%0A%23%23+Ma+configuration%0D%0A___%0D%0A%5Bcenter%5DTexte+%C3%A0+remplacer+par+votre+configuration%5B%2Fcenter%5D%0D%0AComment+r%C3%A9cup%C3%A9rer+ma+configuration+%3A%0D%0ADans+votre+HA%2C+Menu+lat%C3%A9ral+%60Configuration%60+%3E+%60Param%C3%A9tres%60+%3E+%60Info%60+%3E+bouton+copier+%3E+%60Pour+Github%60%0D%0A+++%21%5Bimage%7C648x167%2C+75%25%5D%28upload%3A%2F%2F1ietIxFU6nXP1GFrJTzwc2mh0j2.png%29%0D%0A___&category=entraide-home-assistant&tags=aide" title="Demander de l'aide sur le forum de la Communauté Francophone" target="_blank">
    <img src="/images/logo-hacf-30px.webp" alt="Liens vers l'article HACF" > Demander de l'aide sur le forum HACF
  </a>
</div>
<div class="row justify-content-center">
  <div class="col-5 text-center">
    <p><em>Communauté Francophone HACF</em></p>
    <ul class="list-inline">
      {{ range .Site.Menus.aidehacf }}
      <li class="list-inline-item">
        <a href="{{ .URL }}" title="{{ .URL }}" target="_blank"><i class="fa-brands {{ .Pre }} fa-2x"></i></a>
      </li>
      {{ end }}
    </ul>
  </div>
  
  <div class="col-5 text-center">
    <p><em>Communauté Officielle HA</em></p>
    <ul class="list-inline">
      {{ range .Site.Menus.aidehaoff }}
      <li class="list-inline-item">
        <a href="{{ .URL }}" title="{{ .URL }}" target="_blank"><i class="fa-brands {{ .Pre }} fa-2x"></i></a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>-->