<section class="py-5 text-center bg-light" style="background-image:url({{ partial "commons/get-img-article.html" . }})">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light text-capitalize text-white">
        {{ if .Params.head }}
          {{ .Site.Data.head.authorsHead.taxoGen.title }}
        {{ else }}
          {{ .Site.Data.head.authorsHead.singleTaxo.title }} {{ .Title }}
        {{ end }}</h1>
      <h3 class="fw-light text-white"> 
        {{ if .Params.head }}
          {{ .Site.Data.head.authorsHead.taxoGen.description }}
        {{ else }}
          {{ .Site.Data.head.authorsHead.singleTaxo.description }} {{ .Title }}
        {{ end }}</h3>
    </div>
  </div>
</section>
  {{ if .Site.Data.head.authorsHead.buttons }}
      <div class="container p-5">
          <h5 class="text-center">{{ .Site.Data.head.authorsHead.btnTitle }}</h5>
          <p class="text-center font-italic">{{ .Site.Data.head.authorsHead.btnDescription }}</p>
          <div class="row row-cols-2 row-cols-sm-4 row-cols-md-4 g-3 justify-content-center text-center">
          {{ range sort .Site.Data.head.authorsHead.buttons "weight" }}
              <div class="col">
              <a class="btn btn-primary" href="{{ .url }}" role="button"><i class="{{ .icon }}"></i> {{ .name }}</a>
              </div>  
          {{ end }}
          </div>
      </div>
  {{ end }}
  <div class="text-center m-4">
    {{ if .Params.head }}
    <h5>{{ .Site.Data.head.authorsHead.taxoGen.contentTitle }}</h5>
    <p>{{ .Site.Data.head.authorsHead.taxoGen.contentDescription }}</p>
  {{ else }}

    <h5>{{ .Site.Data.head.authorsHead.singleTaxo.contentTitle }} {{ .Title }}</h5>
    <p>{{ .Site.Data.head.authorsHead.singleTaxo.contentDescription }}</p>
  {{ end }}
</div>

<div class="container">
  <hr class="divider">
</div>