<section class="py-5 text-center bg-light" style="background-image:url({{ partial "helpers/get-img-article.html" . }})">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light text-capitalize text-white">{{ .Site.Data.head.catHead.title }} {{ .Title }}</h1>
      <h3 class="fw-light text-white">{{ .Site.Data.head.catHead.description }} {{ .Title }}</h3>
    </div>
  </div>
</section>
  {{ if .Site.Data.head.catHead.buttons }}
      <div class="container p-5">
          <h5 class="text-center">{{ .Site.Data.head.catHead.btnTitle }}</h5>
          <p class="text-center font-italic">{{ .Site.Data.head.catHead.btnDescription }}</p>
          <div class="row row-cols-2 row-cols-sm-4 row-cols-md-4 g-3 justify-content-center text-center">
          {{ range sort .Site.Data.head.catHead.buttons "weight" }}
              <div class="col">
              <a class="btn btn-primary" href="{{ .url }}" role="button"><i class="{{ .icon }}"></i> {{ .name }}</a>
              </div>  
          {{ end }}
          </div>
      </div>
  {{ end }}
  <div class="text-center m-4">
    <h5>{{ .Site.Data.head.catHead.contentTitle }} {{ .Title }}</h5>
    <p>{{ .Site.Data.head.catHead.contentDescription }}</p>
</div>

<div class="container">
  <hr class="divider">
</div>