<nav class="navbar navbar-expand-md navbar-dark bg-primary" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a href="{{ .Site.BaseURL }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="images/logo-hacf-30px.webp" width="30" height="30" class="d-inline-block align-top" alt="{{ .Site.Title }}-logo" title="{{ .Site.Title }}-logo">
        <span class="fs-4 m-1">{{ .Site.Title }}</span>
      </a>
        
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          {{ range .Site.Menus.main }}
              {{ if .HasChildren }}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">{{ .Name }}</a>
                <ul class="dropdown-menu">
                  {{ range .Children }}
                  <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
                  {{ end }}
                </ul>
              </li>
              {{ else }} 
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
              </li>
              {{ end }}
          {{ end }}
        </ul>
        <div class="text-end">
          <a href="{{ .Site.BaseURL }}/admin" role="button" class="btn btn-outline-primary btn-sm me-2 d-none d-sm-block">Participer</a>
        </div>
      </div>
    </div>
  </nav>
