<nav class="navbar navbar-expand-md fixed-top border-bottom border-primary mx-2">
    <div class="container-fluid">

        <a class="navbar-brand" href="{{ .Site.BaseURL }}">
            <img src="images/logo-hacf-30px.webp" alt="{{ .Site.Title }}-logo" title="{{ .Site.Title }}-logo" width="30" height="30" class="d-inline-block align-text-top">
            {{ .Site.Title }}
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

      
        <div class="collapse navbar-collapse justify-content-end justify-content-md-center text-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
            {{ $current := . }}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="{{ .URL }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ .Name }}
                    </a>
                    <ul class="dropdown-menu">
                    {{ range .Children }}
                        <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                    </ul>
                </li>
                {{ else }} 
                <li class="nav-item ">
                <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            {{ end }}
            </ul>
        </div>

        <a href="{{ .Site.BaseURL }}/admin" role="button" class="btn btn-outline-primary btn-sm me-2 d-none d-sm-block justify-content-end">Participer</a>

    </div>
  </nav>