<style>
    #intro {
      background-image: url("{{ .image }}");
      background-size: initial;
      background-position: bottom;
      background-repeat: no-repeat;
      height: 100vh;
      max-height: 350px;

    }
  </style>

<div id="intro" class="container-fluid text-center">
        <img src="{{ .logo }}" alt="">
        <div class="text-white pt-3">
          <h1 class="mb-md-2 mb-lg-4">{{ .subtitle }}</h1>
          <p>{{ .description }} ??</p>
        </div>
        {{ if .Params.buttons }}
            {{ range .buttons }}
                <a class="btn btn-primary" href="{{ .url }}" role="button">{{ .name }}</a>
            {{ end }}
        {{ end }}
</div>
