{{ define "main" }}

{{ partial "articles/postHead" . }}

<section class="container">
  <div class="row my-4">
    <article class="row justify-content-center">
      {{ if eq .Params.type "contact" }}
        <div class="col-12 col-xl-10 m-4">
          <div class="text-center text-sm-start">
            {{ .Content }}
          </div>
        </div>
      {{ else }}
        <div class="col-12 col-xl-8 m-4">
          <div class="text-center text-sm-start">
            {{ .Content }}
          </div>
        </div>
        <div class="col-xl-3 d-none d-xl-block">
          {{ partial "commons/sidebar.html" . }}
        </div>  
      {{ end }}
    </article>
  </div>
</section>

  {{ if eq .Params.type "post" "news" }}
    <section class="mb-5">
      <div class="container ">
          <div class="row justify-content-evenly pt-2">
            {{ if eq .Params.type "post"}}
            <div class="col-12 col-md-10">
            {{ partial "articles/aide-ha.html" . }}
            </div>
            {{ end }}
          </div>
      </div>
    </section>
    <section class="container-fluid">
      <div class="row justify-content-center m-3">
            {{ partial "articles/related.html" . }}
      </div>
    </section>
  {{ end }}

  {{ if eq .Params.type "page" "awesome" }}
    <section class="mb-5">
      <div class="container ">
          <!--
          <div class="col-12 border-top border-secondary pt-3" >
              {{ partial "contact" . }}
          </div>
          -->
          <div class="row justify-content-evenly pt-2">
            <div class="col-12">
              {{ partial "pages/authors.html" . }}
            </div>
          </div>
      </div>
    </section>
  {{ end }}
{{ end }}