<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    <meta name="keywords" content="{{if .IsHome}}{{ $.Site.Params.keywords }}{{else}}{{ delimit .Tags ", " }}{{end}}" />
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    <meta name="author" content="{{ .Site.Author.name}}">
    <head>
        {{- partial "head.html" . -}}
    </head>
    <header>
        {{- partial "header.html" . -}}
    </header>

    <body>
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
    </body>
    
    <footer>
        {{- partial "footer.html" . -}}
    </footer>
</html>
