{{ define "main" }}
<section class="py-5 text-center bg-light">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light text-capitalize">{{ .Title }}</h1>
      <p class="lead text-muted"> {{ .Content }}</p>
    </div>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">
      {{ range .Paginator.Pages }}
      <div class="col">
        {{ partial "cards/post-list" . }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
<div>
  {{ partial "pagination" . }}
</div>
{{ end }}