/* Fichier CSS custom pour y ajouter vos modifications si vous le souhaitez */

/* TOC */
#TableOfContents a {
    color: grey;
    text-decoration: none;
    }
#TableOfContents ul li {
    list-style: none;
    }

/* Menu auto Hide*/
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
    }
.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
    }

/* BlockQuote defaut */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    border-radius: 10px 0px 0px 10px;
    }

blockquote p {
    display: inline;
    }