/* Fichier CSS custom pour y ajouter vos modifications si vous le souhaitez */

/* TOC */
#TableOfContents a {
    color: grey;
    text-decoration: none;
    }
#TableOfContents ul li {
    list-style: none;
    }

/* Menu auto Hide*/
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
    }
.scrolled-up{
transform:translateY(0); transition: all 0.3s ease-in-out;
}




.danger,
.note,
.warning {
  background: #efefef;
  border-left-style: solid;
  border-left-width: 0.4rem;
  border-radius: 0.2rem;
  margin-left: 0;
  > p {
    padding: 0.5rem 1rem;
  }
}

.warning {
  border-left-color: #ffbb00;
}

.note {
  border-left-color: #0000ee;
}

.danger {
  border-left-color: #ee0000;
}