{{ define "main" }}

{{ partial "list/listHeadTags.html" . }}

<div class="text-center">
    {{ .Content }}
</div>

<div class="row justify-content-center">
  <div class="col-8 text-center ">
    <h5 class="text-center">Tags</h5>
    <a class="badge badge-pill badge-primary bg-primary text-decoration-none m-3" href="/tags" role="button">Tous</a><br>
    {{ range .Site.Taxonomies.tags }}
    <a class="badge badge-primary bg-primary position-relative text-decoration-none m-2" href="{{ .Page.Permalink }}" role="button">{{ .Page.Title }} 
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ .Count }}
        <span class="visually-hidden">unread messages</span>
      </span>
    </a>
    {{ end }}
  </div>
	<div class="col-11 col-lg-9 m-3">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xxl-3 g-3 justify-content-center">
			{{ range .Paginator.Pages.ByDate.Reverse }}
			<div class="col">
			{{ partial "cards/post-card" . }}
			</div>
			{{ end }}
		</div>
	</div>
</div>	

<div>
  {{ partial "pagination" . }}
</div>
{{ end }}
