{{ define "main" }}
<section class="py-5 text-center bg-light" style="background-image:url({{ partial "helpers/get-hero.html" . }})">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light text-capitalize text-white">{{ .Title }}</h1>
      <h3 class="fw-light text-white">{{ .Description }}</h3>
      <p class="lead text-muted"> {{ .Content }}</p>
    </div>
  </div>
</section>

<div class="container p-5">
	<h5 class="text-center">{{ .Params.btnTitle }}</h5>
	<p class="text-center font-italic">{{ .Params.btnDescription }}</p>
	<div class="row row-cols-2 row-cols-sm-4 row-cols-md-4 g-3 justify-content-center text-center">
	{{ range sort .Params.buttons "weight" }}
		<div class="col">
			<a class="btn btn-primary" href="{{ .url }}" role="button"><i class="{{ .icons }}"></i> {{ .name }}</a>
		</div>  
	{{ end }}
	</div>
</div>

<div class="container">
	<hr class="divider">
</div>


<div class="row justify-content-center">
	<div class="col-12 col-lg-2 p-5 order-1">
		<div class="d-grid gap-2 col-3 col-lg-12 mx-auto sticky-top" style="top: 80px">
		<h5 class="text-center">Catégories</h5>
		{{ range .Site.Taxonomies.categories }}
		<a class="btn btn-outline-primary position-relative" href="{{ .Page.Permalink }}" role="button">{{ .Page.Title }} 
			<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ .Count }}
				<span class="visually-hidden">unread messages</span>
			</span>
		</a>
		{{ end }}
		</div>
	</div>
	
	<h5 class="text-center">{{ .Params.contentTitle }}</h5>
	<p class="text-center font-italic">{{ .Params.contentDescription }}</p>
	<div class="col-12 col-lg-9 order-2">
		<div class="album py-5 bg-light">
		  <div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">
			  {{ range .Paginator.Pages }}
			  <div class="col">
				{{ partial "cards/post-list" . }}
			  </div>
			  {{ end }}
			</div>
		  </div>
		</div>
	</div>
</div>	

<div>
  {{ partial "pagination" . }}
</div>
{{ end }}
