<section class="">
<div class="container">
  <div class="row align-items-center justify-content-between my-5">
    <h2 class="text-center text-secondary mb-5">{{ .title }}</h2>
    <!-- Boutons pour filtrer par type de dépots NON FONCTIONNEL 
    <div class="col text-center pb-3">
      <div class="btn-group" role="group" aria-label="filtrer depots" id="project-filter-buttons">
        {{ range .buttons }}
        <button type="button" class="btn btn-outline-primary" data-filter="{{ .filter }}">{{ .name }}</button>
        {{ end }}
      </div>
    </div>
    -->

    <div class="row justify-content-evenly filtr-projects" id="project-card-holder">
      {{ range .depots }}
        {{ partial "cards/depots" . }}
      {{ end }}
    </div>
  </div>
</div>
</section>