<section class="py-5 bg-light">
  <div class="container">
    <div class="row align-items-center justify-content-between">

      <div class="col-12 col-lg-5 order-first order-lg-2 text-center mb-3">
        <img 
          src="images/sections/dashbord-home-assistant.wep"
          srcset="images/sections/dashbord-home-assistant-100px.wepb 100w,
                  images/sections/dashbord-home-assistant-200px.webp 200w,
                  images/sections/dashbord-home-assistant-400px.webp 400w"
          sizes="(max-width: 576px) 100px, (max-width: 992px) 300px, 400px"
          alt="Tableau de bord Home Assistant"
          title="Tableau de bord Home Assistant"
        />
      </div>

      <div class="col-12 col-lg-7 text-center">
        <h2 class="fs-2 text-secondary">{{ .name }}</h2><p class="fs-4 fst-italic text-primary">{{ .subtitle }}</p>
        <div class="m-5">
          {{ range .summary }}
          <p>
            {{ .description | markdownify }}
          </p>
          {{ end }}
        </div>
  
  
        <div class="col-12 text-center">
          <ul class="list-inline">
            {{ range .socialLinks }}
            <li class="list-inline-item">
              {{ if eq .name "Email" }}
                <a href="mailto:{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener"><i class="{{ .icon }}"></i></a>
              {{ else if eq .name (i18n "phone") }}
                <a href="tel:{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener"><i class="{{ .icon }}"></i></a>
              {{ else }}
                <a href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener"><i class="{{ .icon }}"></i></a>
              {{ end }}
            </li>
            {{ end }}
          </ul>
        </div>
  
        <div class="mb-3">
          {{ range .button }}
          <a class="btn btn-primary" href="{{ .url }}" role="button">{{ .name }}</a>
          {{ end }}
        </div>
      </div>

    </div>
  </div>
</section>